ul.pager
  li(ng-class="{disabled: noPrevious(), previous: align}"): a(ng-click="selectPage(page - 1)") {{getText('previous')}}
  li(ng-class="{disabled: noNext(), next: align}"): a(ng-click="selectPage(page + 1)") {{getText('next')}}